<?xml version="1.0"?>
<launch>
	<!--********** arg **********-->
	<arg name="uav_name" default="blimp"/>
	<arg name="roboID" default="0"/>

	<arg name="is_input_joystick" default="false"/>
	<arg name="enable_meshes" default="true"/>
	<arg name="enable_wind" default="true"/>
	<arg name="enable_physics" default="true"/>
	<arg name="enable_sensors" default="true"/>
	<arg name="enable_camera" default="false"/>	
	<arg name="enable_logging" default="false" />
	<arg name="enable_ground_truth" default="true" />
	<arg name="enable_mavlink_interface" default="false"/>

	<arg name="world_name" default="basic"/>
	<arg name="debug" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="paused" default="false"/>
	<arg name="log_file" default="$(arg uav_name)"/>
	<arg name="wait_to_record_bag" default="false"/>
	<arg name="verbose" default="true"/>
	<arg name="rvizconfig" default="$(find blimp_description)/rviz/blimp.rviz" />

	<arg name="X" default="0.0"/>
	<arg name="Y" default="0.0"/>
	<arg name="Z" default="1.0"/>

	<arg name="wind_direction_x" default="1"/>
	<arg name="wind_direction_y" default="0"/>
	<arg name="wind_speed_mean" default="1.5"/>

	<!--********** load env **********-->
 	<env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  	<env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>

	<!--********** spawn model **********-->
	<group ns="$(arg uav_name)">
		<rosparam command="load" file="$(find blimp_description)/resource/controller_blimp.yaml" />
    		<rosparam command="load" file="$(find blimp_description)/resource/blimp.yaml" />
		<include file="$(find blimp_description)/launch/spawn_uav.launch">
			<arg name="model" value="$(find blimp_description)/urdf/blimp_base.xacro"/>
			<arg name="enable_meshes" value="$(arg enable_meshes)"/>
			<arg name="enable_wind" value="$(arg enable_wind)"/>
			<arg name="enable_physics" value="$(arg enable_physics)" />
			<arg name="enable_sensors" value="$(arg enable_sensors)" />
			<arg name="enable_camera" value="$(arg enable_camera)" />			
			<arg name="enable_logging" value="$(arg enable_logging)" />
			<arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
			<arg name="enable_mavlink_interface" value="$(arg enable_mavlink_interface)" />
			<arg name="log_file" value="$(arg log_file)"/>
			<arg name="wait_to_record_bag" value="$(arg wait_to_record_bag)"/>
			<arg name="uav_name" value="$(arg uav_name)" />
			<arg name="namespace" value="$(arg uav_name)"/>
			<arg name="is_input_joystick" value="$(arg is_input_joystick)" />
			<arg name="x" default="$(arg X)"/>
	        <arg name="y" default="$(arg Y)"/>
	        <arg name="z" default="$(arg Z)"/>

			<arg name="wind_direction_x" default="$(arg wind_direction_x)"/>
			<arg name="wind_direction_y" default="$(arg wind_direction_y)"/>
			<arg name="wind_speed_mean" default="$(arg wind_speed_mean)"/>
		</include>

		<!--********** spawn publishers **********-->
		<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"	output="screen" args="revolute_joint_state_controller stick_joint_position_controller botfin_joint_position_controller topfin_joint_position_controller leftfin_joint_position_controller rightfin_joint_position_controller"/>
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
		<!--<node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
			<remap from="image" to="/blimp/blimp/xtion/rgb/image_raw"/>
		</node> -->
		<!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />-->
		<node name="blimp_ctrl" pkg="blimp_description" type="gcs_blimp.py" output="screen" args="/$(arg uav_name)">
                    <remap from="GCSACTUATORS" to="actuators" />
                </node>

                <node name="fake_gps_drift_node" pkg="fake_gps_drift" type="fake_gps_drift_node" output="screen" />
	
		<node name="ros2roshitl" pkg="roshitl" type="ros2roshitl.py" output="screen">
                    <remap from="GCSIMU" to="tail/imu" />
                    <remap from="GCSPOS" to="tail/pose_with_drift" />
                    <remap from="GCSVEL" to="ground_speed" />
                    <remap from="GCSAIRSPEED" to="tail/indicatedAirspeed" />
		</node>
		<!--<node name="gcs2ros" pkg="roshitl" type="gcs2ros.py" output="screen" />-->
	</group>	
</launch>


